.container {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
}

body { 
	background: #F0F0F0;
}
body, input, textarea { 
	font: 12px/20px Helvetica, Arial, sans-serif; 
	color: #666;
        margin: 0 0 0 0;
        
}

input[type=radio] {
    right: 0px;
    left: 25%;
    float: right;
}

form { 
    display: inline-block;
    text-align: left;
    width: 100%;
}

.mainheader {
    background-color: #444;
    padding: 0;
    margin: 0 0 0 0;
    height: 128px;
    width: 100%;
    color: #F0F0F0;
    position: relative;
}

.mainform {
    position: absolute;
    width: 280px;
    right: 0px;
}

.usertitle{
    color: #545658;
    font-size:18px;
    text-align: center;
}

.maintitle{
    color: #F0F0F0;
    text-shadow: 0px 15px 15px #4d4d4d;
    font-family: bladrnr;
    font-size:64px;
    top: 48px;
    left: 168px;
    position:absolute;
}

.mainlogo{
    top: 6px;
    left: 32px;
    position:absolute;
}


.pgrid {
    left: 0; top: 0; bottom: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    width: 512px;
}

.pgrid input, textarea { 
	background: none repeat scroll 0 0 #FFFFFF; 
	border: 1px solid #C9C9C9; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -3px -3px 0 0 #F5F5F6, 3px 3px 0 0 #F5F5F6, 3px 0 0 0 #F5F5F6, 0 3px 0 0 #F5F5F6, 3px -3px 0 0 #F5F5F6, -3px 3px 0 0 #F5F5F6; 
	color: #545658; 
	padding: 8px; 
	font-size: 12px; 
	border-radius: 2px 2px 2px 2px; 
}
.pgrid input:hover {
    border: 1px solid #000044;
}

.welGrid {
    left: 0; top: 64px; bottom: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #545658; 
    padding: 32px; 
    font-size: 12px; 
    border-radius: 2px 2px 2px 2px; 
    text-align: center;
}

.navGrid {
    left: 512px; top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    color: #545658; 
    padding: 12px;
    font-size: 12px; 
}

a { 
	color: #0099FF;
	text-decoration: none;
        text-align: center;
}
a:hover { 
	color: #0055CC;
}
.signup-button {
	background: #AABBBB; 
	border: 1px solid #f2f2f2; 
}

h1, h2, h3, h4, h5, h6 { 
	margin: 0; 
	padding: 0; 
	color: #444; 
}
h1 { 
	float: left; 
	margin: 0 0 30px; 
	font-size: 24px; 
	line-height: 34px; 
}
h2.secondary { 
	float: left; 
	width: 260px; 
	font-size: 16px; 
	font-weight: normal; 
	color: #999; 
	margin-bottom: 30px; 
	line-height: 26px; 
}
h3 { 
	margin: 30px 0 0 0 
}
textarea { 
	width: 95%; 
	margin: 0 0 0 2px; 
}
form label { 
	display: block; 
	margin-top: 5px; 
	font-weight: bold; 
	font-size: 12px; 
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 512px;
}

.form-product {
    width: 1024px;
}

.errorLabel {
	display: block; 
	margin-top: 5px; 
	font-weight: bolder;
        animation:  ease-in-out infinite; 
        color: #AA0000;
	font-size: 12px; 
}

.fade {
   opacity: 0.5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
    opacity: 1;
}

.fade:disabled {
    opacity: 1;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.loginfield {
    width: 150px;
    text-align: left;
    margin-right: 16px;
    height: 12px;
    font-size: 12px;
    box-shadow: none;
    background: none repeat scroll 0 0 #FFFFFF; 
    border: 1px solid #C9C9C9;
    color: #545658; 
    padding: 8px; 
    font-size: 12px; 
    border-radius: 2px 2px 2px 2px; 
}

.loginfield:hover {
    border: 1px solid #000044;
}

.genericDTable {
    width: 100%;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    border:#ccc 1px solid;
    border-spacing: 2px;
    -moz-box-shadow: 0 2px 4px #d1d1d1;
    -webkit-box-shadow: 0 2px 4px #d1d1d1;
    box-shadow: 0 2px 4px #d1d1d1;
}
.genericDTable th {
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
    background: #ededed;
    border-left: 1px solid #e0e0e0;
}

.genericDTable tr {
	text-align: center;
}

.genericDTable td {
    background: #fbfbfb;
}

.genericDTable tr:hover td {
    color: #333;
    text-shadow: none;
    
    background: #CADAE0;
}

.basketDtable {
    width: 128px;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    border:#ccc 1px solid;
    border-spacing: 2px;
    -moz-box-shadow: 0 2px 4px #d1d1d1;
    -webkit-box-shadow: 0 2px 4px #d1d1d1;
    box-shadow: 0 2px 4px #d1d1d1;
}

.basketDtable th {
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
    background: #ededed;
    border-left: 1px solid #e0e0e0;
}

.basketDtable tr {
	text-align: center;
}

.basketDtable td {
    background: #fbfbfb;
}

.searchGrid {
    width: 100%;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    border:#ccc 1px solid;
    border-spacing: 2px;
    -moz-box-shadow: 0 2px 4px #d1d1d1;
    -webkit-box-shadow: 0 2px 4px #d1d1d1;
    box-shadow: 0 2px 4px #d1d1d1;
}

.searchGrid tr {
	text-align: center;
}

.searchGrid td {
    background: #fbfbfb;
}

.prodItems {
    background-color: #AA0000;
    width:50%;
}

.prodDetails {
    position: relative;
    top: 0px;
    bottom: 0px;
    width: 50%;
}

.captionD {
    font-weight:bold;
    font-size: 12px;
}


input[type=submit]{
    width: 100%; 
    
    opacity: 0.8;
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3eb0d6), color-stop(1, #1a708f));
    background:-moz-linear-gradient(top, #3eb0d6 5%, #1a708f 100%);
    background:-webkit-linear-gradient(top, #3eb0d6 5%, #1a708f 100%);
    background:-o-linear-gradient(top, #3eb0d6 5%, #1a708f 100%);
    background:-ms-linear-gradient(top, #3eb0d6 5%, #1a708f 100%);
    background:linear-gradient(to bottom, #3eb0d6 5%, #1a708f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3eb0d6', endColorstr='#1a708f',GradientType=0);
    background-color:#3eb0d6;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    border:1px solid #566369;

    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:2px 16px;
    text-decoration:none;

    text-shadow:0px -1px 0px #2b665e;

}

input[type=submit]:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1a708f), color-stop(1, #3eb0d6));
    background:-moz-linear-gradient(top, #1a708f 5%, #3eb0d6 100%);
    background:-webkit-linear-gradient(top, #1a708f 5%, #3eb0d6 100%);
    background:-o-linear-gradient(top, #1a708f 5%, #3eb0d6 100%);
    background:-ms-linear-gradient(top, #1a708f 5%, #3eb0d6 100%);
    background:linear-gradient(to bottom, #1a708f 5%, #3eb0d6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a708f', endColorstr='#3eb0d6',GradientType=0);
    background-color:#1a708f;
}

input[type=submit]:active {
    position:relative;
    top:1px;
}

input[type=submit]:disabled {
    opacity: 0.5;
    position:relative;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c6c6c), color-stop(1, #767676));
    background:-moz-linear-gradient(top, #6c6c6c 5%, #767676 100%);
    background:-webkit-linear-gradient(top, #6c6c6c 5%, #767676 100%);
    background:-o-linear-gradient(top, #6c6c6c 5%, #767676 100%);
    background:-ms-linear-gradient(top, #6c6c6c 5%, #767676 100%);
    background:linear-gradient(to bottom, #6c6c6c 5%, #767676 100%);
    background-color:#6c6c6c;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c6c6c', endColorstr='#767676',GradientType=0);
    color: #A9A9A9;
    -moz-box-shadow:inset 0px 1px 3px 0px #989898;
    -webkit-box-shadow:inset 0px 1px 3px 0px #989898;
    box-shadow:inset 0px 1px 3px 0px #989898;
    border:1px solid #565656;
    top:0px;
}

.usersW { 
    background-image: url('images/usersW.png');
}
.productsW {
    background-image: url('images/productsW.png');
}

.suppliersW {
    background-image: url('images/suppliersW.png');
}