<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  lang="en"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Add Product</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <h:body>
        <!-- <ui:include src="index.xhtml"/> -->
        <div class="container">
            <h:form>
                <h:panelGroup>
                    <h:panelGrid columns="2" class="form"> 
                        <f:facet name="header" >
                            <h1>Add a new Product</h1>
                        </f:facet>

                        <h:outputLabel value="Name"/>
                        <h:inputText id="name" title="name" required="true"
                                     value="#{productsBean.name}" maxlength="45"/>

                        <h:outputLabel value="Description"/>
                        <h:inputText id="description" title="description" required="true"
                                     value="#{productsBean.description}" maxlength="200"/>

                        <h:outputLabel value="Product Group"/>
                        <h:selectOneMenu value="#{productsBean.prod_group}" >
                            <f:selectItem itemLabel="Vegetables &amp; Fruits"       itemValue="V"/>
                            <f:selectItem itemLabel="Meats &amp; Dairy Products"    itemValue="M"/>
                            <f:selectItem itemLabel="Chemical Products"         itemValue="C"/>
                            <f:selectItem itemLabel="Industrial Products"       itemValue="I"/>
                            <f:selectItem itemLabel="Canned/Boxed Food"         itemValue="B"/>
                            <f:selectItem itemLabel="Garden"                    itemValue="G"/>
                            <f:selectItem itemLabel="Household"                 itemValue="H"/>
                        </h:selectOneMenu>

                        <h:outputLabel value="Price"/>
                        <h:inputText id="list_price" title="list_price"
                                     value="#{productsBean.list_price}" maxlength="13" required="true"/>

                        <h:outputLabel value="Quantity"/>
                        <h:inputText id="quantity" title="quantity" value="#{productsBean.qty_on_hand}" maxlength="13" required="true"/>

                        <h:outputLabel value="Procurement Level"/>
                        <h:inputText id="procur_level" title="procur_level" value="#{productsBean.procur_level}" maxlength="13" required="true"/>

                        <h:outputLabel value="Procurement Quantity"/>
                        <h:inputText id="procur_qty" title="procur_qty" value="#{productsBean.procur_qty}" maxlength="13" required="true"/>

                        <h:outputLabel value="Supplier"/>
                        <h:selectOneMenu value="#{productsBean.supplier}">
                            <f:selectItems value="#{productsBean.supplierNames}" var ="perm" itemValue="#{perm}" />
                        </h:selectOneMenu>

                        <h:commandButton id="signup" class="signup-button" value="Add it" action="#{productsBean.addProduct()}"/>
                    </h:panelGrid>
                    <h:panelGrid class="pgrid">
                        <h:outputLabel class="errorLabel"
                                       value="#{productsBean.errorMessage}"/>
                    </h:panelGrid>
                </h:panelGroup>
                 <h:link value ="Back to profile" outcome="profile.xhtml?faces-redirect=true" />
            </h:form>
        </div>
    </h:body>
</html>

