<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Awards</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <script>
        //<![CDATA[
        function turnOffOtherRadios(radio) {
            var id = radio.name.substring(radio.name.lastIndexOf(':'));
            var el = radio.form.elements;
            for (var i = 0; i < el.length; i++) {
                if (el[i].name.substring(el[i].name.lastIndexOf(':')) == id) {
                    el[i].checked = false;
                }
            }
            radio.checked = true;
        }

        function inputFocus(i) {
            if (i.value == i.defaultValue) {
                i.value = "";
                i.style.color = "#000";
            }
        }
        function inputBlur(i) {
            if (i.value == "") {
                i.value = i.defaultValue;
                i.style.color = "#888";
            }
        }
        //]]>
    </script>
    <h:body>
        <!-- <ui:include src="index.xhtml"/> -->
        <!-- <ui:include src="navtemplate.xhtml"/> -->
        <div class="container" >
            <!-- Search Table -->
            <h:form>
                <!-- Users Table -->
                <h:dataTable rows="5" first="#{usersBean.first}" value="#{usersBean.modelUser}" 
                             var="item" class="genericDTable">

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{usersBean.rowNumber + 1}" />
                    </h:column>

                    <h:column><f:facet name="header">
                            <h:outputText value="Client Number" />
                        </f:facet> 
                        <h:outputLabel value="#{item.cust_no}"/>
                    </h:column>

                    <h:column><f:facet name="header">Money Spent During The Last Week</f:facet>
                        <h:outputLabel value="#{item.moneyspent}"/>
                    </h:column>
                    <f:facet name="footer">
                        <h:panelGrid columns="4">
                            <h:commandButton value="first" action="#{usersBean.pageFirst()}"
                                             disabled="#{usersBean.first == 0}" />
                            <h:commandButton value="prev" action="#{usersBean.pagePrevious()}"
                                             disabled="#{usersBean.first == 0}" />
                            <h:commandButton value="next" action="#{usersBean.pageNext()}"
                                             disabled="#{usersBean.first + usersBean.rows >= usersBean.modelUserRowCount}" />
                            <h:commandButton value="last" action="#{usersBean.pageLast()}"
                                             disabled="#{usersBean.first + usersBean.rows >= usersBean.modelUserRowCount}" />
                        </h:panelGrid>
                    </f:facet>
                </h:dataTable>

                <table class="genericDTable">
                    <tr>
                        <th><h:outputLabel value="Number of results"/></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><h:inputText value="#{usersBean.searchM}" onfocus="inputFocus(this)" onblur="inputBlur(this)"/></td>
                        <td><h:commandButton value="Search" action="#{usersBean.search()}"/></td>
                        <td><h:commandButton value="Reset" action="#{usersBean.removeFilters()}"/></td>
                    </tr>
                </table>
                <h:link value ="Back to profile" outcome="profile.xhtml?faces-redirect=true" />
            </h:form>
        </div>
        <h:messages/>
    </h:body>
</html>
