<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Basket</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <h:body>
        <!-- <ui:include src="index.xhtml"/> -->
        <!-- <ui:include src="navtemplate.xhtml"/> -->
        <div class="container" >
            <!-- Search Table -->
            <h:form>
                <!-- Product Table -->
                <h:dataTable rows="#{basketBean.rows}" first="#{basketBean.first}" value="#{basketBean.modelBasket}" 
                             var="item" class="genericDTable">

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{basketBean.rowNumber + 1}" />
                    </h:column>

                    <h:column><f:facet name="header">
                            <h:outputText value="Name" />
                        </f:facet> 
                        <h:outputLabel value="#{item.name}"/>
                    </h:column>

                    <h:column><f:facet name="header">Product Code</f:facet>
                        <h:outputLabel value="#{item.prod_code}"/>
                    </h:column>

                    <h:column><f:facet name="header">Amount</f:facet>
                        <h:inputText value="#{item.inBasketAmt}"/>
                    </h:column>
                    
                    <f:facet name="footer">
                        <h:panelGrid columns="5">
                            <h:commandButton value="first" action="#{basketBean.pageFirst()}"
                                             disabled="#{basketBean.first == 0}" />
                            <h:commandButton value="prev" action="#{basketBean.pagePrevious()}"
                                             disabled="#{basketBean.first == 0}" />
                            <h:commandButton value="next" action="#{basketBean.pageNext()}"
                                             disabled="#{basketBean.first + basketBean.rows >= basketBean.modelBasketRowCount}" />
                            <h:commandButton value="last" action="#{basketBean.pageLast()}"
                                             disabled="#{basketBean.first + basketBean.rows >= basketBean.modelBasketRowCount}" />
                            <h:commandButton value="Checkout" action="#{basketBean.checkout()}"
                                             disabled="#{basketBean.isEmpty()}" />
                        </h:panelGrid>
                    </f:facet>
                </h:dataTable>
                 <h:panelGrid class="pgrid" columns ="1">
                <h:commandLink value ="Clear basket" action="#{basketBean.emptyBasket()}" />
                <h:link value ="Back to profile" outcome="profile.xhtml?faces-redirect=true" />
            </h:panelGrid>
            </h:form>
        </div>
        <h:messages/>
    </h:body>
</html>
