<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Buying Suggestions</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <script>
        //<![CDATA[
        function turnOffOtherRadios(radio) {
            var id = radio.name.substring(radio.name.lastIndexOf(':'));
            var el = radio.form.elements;
            for (var i = 0; i < el.length; i++) {
                if (el[i].name.substring(el[i].name.lastIndexOf(':')) == id) {
                    el[i].checked = false;
                }
            }
            radio.checked = true;
        }

        function inputFocus(i) {
            if (i.value == i.defaultValue) {
                i.value = "";
                i.style.color = "#000";
            }
        }
        function inputBlur(i) {
            if (i.value == "") {
                i.value = i.defaultValue;
                i.style.color = "#888";
            }
        }
        //]]>
    </script>
    <h:body>
        <!-- <ui:include src="index.xhtml"/> -->
        <!-- <ui:include src="navtemplate.xhtml"/> -->
        <h:panelGrid class="container" columns="3">
            <!-- Search Table -->
            <h:form class="form-product">
                <!-- Product Table -->
                <h:dataTable rows="#{suggestionsBean.rows}" first="#{suggestionsBean.first}" value="#{suggestionsBean.modelProduct}" 
                             var="item" class="genericDTable">

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{suggestionsBean.rowNumber + 1}" />
                    </h:column>

                    <h:column><f:facet name="header">
                            <h:outputText value="Name" />
                        </f:facet> 
                        <h:outputLabel value="#{item.name}"/>
                    </h:column> 

                    <h:column><f:facet name="header">Product Code</f:facet>
                        <h:outputLabel value="#{item.prod_code}"/>
                    </h:column>

                    <h:column><f:facet name="header">Rank</f:facet>
                        <h:outputLabel value="#{item.rank}"/>
                    </h:column>


                    <h:column><f:facet name="header"></f:facet>
                        <h:selectOneRadio valueChangeListener="#{productsBean.setSelectedProduct}" 
                                          onclick="turnOffOtherRadios(this);">
                            <f:ajax event="valueChange" render="@this"/>
                            <f:selectItem itemValue="null"  />
                        </h:selectOneRadio>
                        <f:facet name="footer" rendered="#{userBean.admin}">
                            <h:panelGrid columns="5">
                                <h:commandButton id="basket" value="Add to Basket" action="#{productsBean.addToBasket()}"/>
                                <h:outputLabel value="#{suggestionsBean.errorMessage}" class="errorLabel"/>
                            </h:panelGrid>
                        </f:facet>
                    </h:column>

                    <f:facet name="footer">
                        <h:panelGrid columns="4">
                            <h:commandButton value="first" action="#{suggestionsBean.pageFirst()}"
                                             disabled="#{suggestionsBean.first == 0}" />
                            <h:commandButton value="prev" action="#{suggestionsBean.pagePrevious()}"
                                             disabled="#{suggestionsBean.first == 0}" />
                            <h:commandButton value="next" action="#{suggestionsBean.pageNext()}"
                                             disabled="#{suggestionsBean.first + suggestionsBean.rows >= suggestionsBean.modelProductRowCount}" />
                            <h:commandButton value="last" action="#{suggestionsBean.pageLast()}"
                                             disabled="#{suggestionsBean.first + suggestionsBean.rows >= suggestionsBean.modelProductRowCount}" />
                        </h:panelGrid>

                        <h:panelGrid class="pgrid" columns ="1">
                            <h:link value ="Back to profile" outcome="profile.xhtml?faces-redirect=true" />
                        </h:panelGrid>

                    </f:facet>
                </h:dataTable>
            </h:form>
        </h:panelGrid>
        <h:messages/>
    </h:body>
</html>
