<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Check-out Order</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <h:body>
        <div class="container">
            <h:form>
                <h:dataTable value="#{basketBean.modelBasket}" var="item">

                    <h:column><f:facet name="header">
                            <h:outputText value="Name" />
                        </f:facet> 
                        <h:outputText value="#{item.name}"/>
                    </h:column>

                    <h:column><f:facet name="header">Product Code</f:facet>
                        <h:outputText value="#{item.prod_code}"/>
                    </h:column>

                    <h:column><f:facet name="header">Amount</f:facet>
                        <h:outputText value="#{item.inBasketAmt}"/>
                    </h:column>

                    <h:column><f:facet name="header">Price</f:facet>
                        <h:outputText value="#{item.total_sum}"/>
                    </h:column>

                    <f:facet name="footer">
                        <h:panelGrid columns="2">
                            <h:outputText value="Total Cost: "/>
                            <h:outputText value="#{basketBean.total_cost}">
                                <f:convertNumber locale="en" pattern="#,##0.00;(#,##0.00)" />
                            </h:outputText>
                            <h:outputLabel value="Credit Card Number: "/>
                            <h:inputText value="#{basketBean.creditCard}" rendered="#{basketBean.credit}" maxlength="16"  />
                            <h:commandButton value="Buy" action="#{basketBean.trytobuy()}"
                                             disabled="#{basketBean.isEmpty()}" />
                        </h:panelGrid>
                        <h:panelGrid class="pgrid">
                            <h:outputLabel class="errorMessage"
                                           value="#{basketBean.errorMessage}"/>
                        </h:panelGrid>

                        <h:panelGrid class="pgrid" columns ="1">
                            <h:link value ="Back to basket" outcome="basket.xhtml?faces-redirect=true" />
                            <h:link value ="Back to profile" outcome="profile.xhtml?faces-redirect=true" />
                        </h:panelGrid>

                    </f:facet>
                </h:dataTable>
            </h:form>
        </div>
        <h:messages/>
    </h:body>
</html>
