<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>freshdirect</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <h:body>
        <h:form>
            <h:panelGrid class="welGrid">
                <h:inputText value="#{loginBean.username}"/>
                <h:inputSecret value="#{loginBean.password}"/>
                <h:outputLabel value ="#{loginBean.errorLabel}"/>
                <h:commandButton value="Sign in" action="#{loginBean.login()}"/>
                <h:link value ="Register" outcome="register.xhtml?faces-redirect=true" />
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

