<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Products</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <script>
        //<![CDATA[
        function turnOffOtherRadios(radio) {
            var id = radio.name.substring(radio.name.lastIndexOf(':'));
            var el = radio.form.elements;
            for (var i = 0; i < el.length; i++) {
                if (el[i].name.substring(el[i].name.lastIndexOf(':')) == id) {
                    el[i].checked = false;
                }
            }
            radio.checked = true;
        }

        function inputFocus(i) {
            if (i.value == i.defaultValue) {
                i.value = "";
                i.style.color = "#000";
            }
        }
        function inputBlur(i) {
            if (i.value == "") {
                i.value = i.defaultValue;
                i.style.color = "#888";
            }
        }
        //]]>
    </script>
    <h:body>
        <!-- <ui:include src="index.xhtml"/> -->
        <!-- <ui:include src="navtemplate.xhtml"/> -->
        <h:panelGrid class="container" columns="3" style="transform: translate(-35%);">
            <!-- Search Table -->
            <h:form class="form-product">
                <!-- Product Table -->
                <h:dataTable rows="#{productsBean.rows}" first="#{productsBean.first}" value="#{productsBean.modelProduct}" 
                             var="item" class="genericDTable">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{productsBean.rowNumber + 1}" />
                    </h:column>
                    <h:column rendered="#{(productsBean.searchOrder == 5) || (productsBean.searchOrder == 6)}"><f:facet name="header">
                            <h:outputText value="Supplier" />
                        </f:facet> 
                        <h:outputLabel value="#{item.supplier_name}"/>
                    </h:column>
                    <h:column><f:facet name="header">
                            <h:outputText value="Product Code" />
                        </f:facet>
                        <h:outputLabel value="#{item.prod_code}"/>
                    </h:column>
                    <h:column><f:facet name="header">
                            <h:outputText value="Product Name" />
                        </f:facet>
                        <h:outputLabel value="#{item.name}"/>
                    </h:column>
                    <h:column><f:facet name="header">
                            <h:outputText value="Description" />
                        </f:facet>
                        <h:outputLabel value="#{item.description}"/>
                    </h:column>
                    <h:column><f:facet name="header">
                            <h:outputText value="Price" />
                        </f:facet> 
                        <h:outputLabel value="#{item.list_price}"/>
                    </h:column>
                    <h:column><f:facet name="header"></f:facet>
                        <h:selectOneRadio valueChangeListener="#{productsBean.setSelectedProduct}" 
                                          onclick="turnOffOtherRadios(this);">
                            <f:ajax event="valueChange" render="@this"/>
                            <f:selectItem itemValue="null"  />
                        </h:selectOneRadio>
                    </h:column>
                    <f:facet name="footer">
                        <h:panelGrid columns ="2" class="form" style="width: 960px;">
                            <h:panelGrid columns="4">
                                <h:commandButton value="first" action="#{productsBean.pageFirst()}"
                                                 disabled="#{productsBean.first == 0}" />
                                <h:commandButton value="prev" action="#{productsBean.pagePrevious()}"
                                                 disabled="#{productsBean.first == 0}" />
                                <h:commandButton value="next" action="#{productsBean.pageNext()}"
                                                 disabled="#{productsBean.first + productsBean.rows >= productsBean.modelProductRowCount}" />
                                <h:commandButton value="last" action="#{productsBean.pageLast()}"
                                                 disabled="#{productsBean.first + productsBean.rows >= productsBean.modelProductRowCount}" />
                            </h:panelGrid>
                            <h:panelGrid columns="5">
                                <h:commandButton id="new" value="New" action="#{productsBean.initNewRecord()}" rendered="#{userBean.admin}"/>
                                <h:commandButton id="view" value="View" action="#{productsBean.viewProduct()}" rendered="#{userBean.admin}"/>
                                <h:commandButton id="basket" value="Add to Basket" action="#{productsBean.addToBasket()}" rendered="#{!userBean.admin}"/>
                                <h:outputLabel value="#{productsBean.errorMessage}" class="errorLabel"/>
                            </h:panelGrid>
                        </h:panelGrid>
                    </f:facet>
                </h:dataTable>
                <br> </br>
                <table class="genericDTable">
                    <tr>
                        <th><h:outputLabel value="Name Contains:"/></th>
                        <th><h:outputLabel value="Description Contains:"/></th>
                        <th><h:outputLabel value="Supplier"/></th>
                        <th><h:outputLabel value="Product Group"/></th>
                        <th><h:outputLabel value="Sorting"/></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><h:inputText value="#{productsBean.searchName}" onfocus="inputFocus(this)" onblur="inputBlur(this)"/></td>
                        <td><h:inputText value="#{productsBean.searchDescription}"/></td>
                        <td><h:selectOneMenu value="#{productsBean.searchSupplier}">
                                <f:selectItem itemLabel="All" noSelectionOption="true"/>
                                <f:selectItems value="#{productsBean.supplierNames}" var ="supp" itemValue="#{supp}" itemLabel="#{supp}" />
                            </h:selectOneMenu></td>
                        <td><h:selectOneMenu value="#{productsBean.searchCategory}" >
                                <f:selectItem itemLabel="All" noSelectionOption="true" />
                                <f:selectItem itemLabel="Vegetables &amp; Fruits"       itemValue="V"/>
                                <f:selectItem itemLabel="Meats &amp; Dairy Products"    itemValue="M"/>
                                <f:selectItem itemLabel="Chemical Products"         itemValue="C"/>
                                <f:selectItem itemLabel="Industrial Products"       itemValue="I"/>
                                <f:selectItem itemLabel="Canned/Boxed Food"         itemValue="B"/>
                                <f:selectItem itemLabel="Garden"                    itemValue="G"/>
                                <f:selectItem itemLabel="Household"                 itemValue="H"/>
                            </h:selectOneMenu></td>
                        <td><h:selectOneMenu value="#{productsBean.searchOrder}">
                                <f:selectItem itemLabel="By Price(Lowest first)"    itemValue="1"/>
                                <f:selectItem itemLabel="By Price(Highest first)"   itemValue="2"/>
                                <f:selectItem itemLabel="By Product Name(A-Z)"      itemValue="3"/>
                                <f:selectItem itemLabel="By Product Name(Z-A)"      itemValue="4"/>
                                <f:selectItem itemLabel="By Supplier Name(A-Z)"     itemValue="5"/>
                                <f:selectItem itemLabel="By Supplier Name(Z-A)"     itemValue="6"/>
                            </h:selectOneMenu></td>

                        <td><h:commandButton value="Search" action="#{productsBean.search()}"/></td>
                        <td><h:commandButton value="Reset" action="#{productsBean.removeFilters()}"/></td>
                    </tr>
                </table>
                
                 <h:link value ="Back to profile" outcome="profile.xhtml?faces-redirect=true" />
            </h:form>                
            <h:form>
                <h:dataTable rows="5" first="0" value="#{basketBean.modelBasket}" 
                             var="item" class="basketDtable" rendered="#{!userBean.admin}">

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="In Basket" />
                        </f:facet> 
                        <h:outputLabel value="#{item.name}"/>
                        <f:facet name="footer">
                            <h:outputLabel value="and more.." rendered="#{basketBean.modelBasketRowCount > 5}"/>
                        </f:facet>
                    </h:column>

                    <f:facet name="footer">
                        <h:link value ="Go to Basket" outcome="basket.xhtml?faces-redirect=true" />
                    </f:facet>
                </h:dataTable>
            </h:form>
        </h:panelGrid>
        <h:messages/>
    </h:body>
</html>
