<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Product Details</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <h:body>
        <h:panelGrid class="container" columns="3">
            <h:form class="form-product">
                <table class="genericDTable">
                    <tr>
                        <th><h:outputLabel value="Product"/></th>
                        <th><h:outputLabel value="Quantity On Stock"/></th>
                        <th><h:outputLabel value="Quantity To Order"/></th>
                        <th><h:outputLabel value="Supplier"/></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="#{productsBean.name}" /></td>
                        <td><h:outputLabel value="#{productsBean.qty_on_hand}"/></td>
                        <td><h:inputText id="order_qty" title="order_qty" value="#{productsBean.order_qty}" maxlength="13"/></td>
                        <td><h:selectOneMenu value="#{productsBean.supplier}">
                                <f:selectItems value="#{productsBean.supplierNames}" var ="supp" itemValue="#{supp}" itemLabel="#{supp}" />
                            </h:selectOneMenu></td>
                        <td><h:commandButton value="Re-stock" action="#{productsBean.order_quantity()}"/></td>
                    </tr>
                </table>
                <h:link value ="Back to product list" outcome="product_list.xhtml?faces-redirect=true" />
            </h:form>
        </h:panelGrid>

        <h:messages/>
    </h:body>
</html>
