<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Querying</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <script>
        //<![CDATA[
        function turnOffOtherRadios(radio) {
            var id = radio.name.substring(radio.name.lastIndexOf(':'));
            var el = radio.form.elements;
            for (var i = 0; i < el.length; i++) {
                if (el[i].name.substring(el[i].name.lastIndexOf(':')) == id) {
                    el[i].checked = false;
                }
            }
            radio.checked = true;
        }

        function inputFocus(i) {
            if (i.value == i.defaultValue) {
                i.value = "";
                i.style.color = "#000";
            }
        }
        function inputBlur(i) {
            if (i.value == "") {
                i.value = i.defaultValue;
                i.style.color = "#888";
            }
        }
        //]]>
    </script>
    <h:body>
        <!-- <ui:include src="index.xhtml"/> -->
        <!-- <ui:include src="navtemplate.xhtml"/> -->
       
        <h:panelGrid class="container" columns="1" rendered="#{!userBean.admin}">
            <h:form><!-- For each product, print the product’s lowest and highest ever order sum. -->
                <h:outputLabel value="Product related queries" class="usertitle"/>
                <h:dataTable rows="#{queryBean.rows}" first="#{queryBean.first}" value="#{queryBean.modelProduct}" 
                             var="item" class="genericDTable">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{queryBean.rowNumberP + 1}" />
                    </h:column>
                    <h:column><f:facet name="header">Product Code</f:facet>
                        <h:outputLabel value="#{item.prod_code}"/>
                    </h:column>
                    <h:column><f:facet name="header">Product Name</f:facet>
                        <h:outputLabel value="#{item.name}"/>
                    </h:column>
                    <h:column rendered="#{queryBean.hasQueriedD()}"><f:facet name="header">Product Group</f:facet>
                        <h:outputLabel value="#{item.prod_group}"/>
                    </h:column>
                    <h:column rendered="#{queryBean.hasQueriedA()}"><f:facet name="header">Lowest Order Sum</f:facet>
                        <h:outputLabel value="#{item.lowest}">
                            <f:convertNumber locale="en" pattern="#,##0.00;(#,##0.00)" />
                        </h:outputLabel>
                    </h:column>
                    <h:column rendered="#{queryBean.hasQueriedA()}"><f:facet name="header">Highest Order Sum</f:facet>
                        <h:outputLabel value="#{item.highest}">
                            <f:convertNumber locale="en" pattern="#,##0.00;(#,##0.00)" />
                        </h:outputLabel>
                    </h:column>
                    <h:column rendered="#{queryBean.hasQueriedC()}"><f:facet name="header">Volume</f:facet>
                        <h:outputLabel value="#{item.volume}" />
                    </h:column>
                    <h:column rendered="#{queryBean.hasQueriedD()}"><f:facet name="header" >Price</f:facet>
                        <h:outputLabel value="#{item.list_price}">
                            <f:convertNumber locale="en" pattern="#,##0.00;(#,##0.00)" />
                        </h:outputLabel>
                    </h:column>
                    <f:facet name="footer">
                        <h:panelGrid columns="2">
                        <h:panelGrid columns="4">
                                <h:commandButton value="first" action="#{queryBean.pageFirst()}"
                                                 disabled="#{queryBean.first == 0}" />
                                <h:commandButton value="prev" action="#{queryBean.pagePrevious()}"
                                                 disabled="#{queryBean.first == 0}" />
                                <h:commandButton value="next" action="#{queryBean.pageNext()}"
                                                 disabled="#{queryBean.first + queryBean.rows >= queryBean.modelProductRowCount}" />
                                <h:commandButton value="last" action="#{queryBean.pageLastP()}"
                                                 disabled="#{queryBean.first + queryBean.rows >= queryBean.modelProductRowCount}" />
                            </h:panelGrid>
                            <br />
                            <h:outputLabel value="Lowest and Highest order sums: "/>
                            <h:commandButton value="Show" action="#{queryBean.queryingA()}"/>
                            <h:outputLabel value="Most units sold: "/>
                            <h:panelGrid columns="2">
                                <h:outputLabel value="Amount of results"/>
                                <h:inputText value="#{queryBean.limitM}" onfocus="inputFocus(this)" onblur="inputBlur(this)" maxlength="1" style="width: 14px;"/>
                                <h:commandButton value="Show" action="#{queryBean.queryingC()}"/>
                            </h:panelGrid>
                            <h:outputLabel value="Most Expensive Products per cat.: "/>
                            <h:commandButton value="Show" action="#{queryBean.queryingD()}"/>
                            <h:outputLabel value="Products never ordered: "/>
                            <h:commandButton value="Show" action="#{queryBean.queryingE()}"/>
                        </h:panelGrid>
                    </f:facet>
                </h:dataTable>
                <!-- What are the products that were not ordered in the month MM of year YYYY?-->
                <table class="genericDTable">
                    <tr>
                        <th><h:outputLabel value="Year"/></th>
                        <th><h:outputLabel value="Month"/></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><h:inputText value="#{queryBean.searchY}" onfocus="inputFocus(this)" onblur="inputBlur(this)" maxlength="4"/></td>
                        <td><h:inputText value="#{queryBean.searchM}" onfocus="inputFocus(this)" onblur="inputBlur(this)" maxlength="2"/></td>
                        <td><h:commandButton value="Get Not Ordered" action="#{queryBean.queryingF()}"/></td>
                    </tr>
                </table>


            </h:form>
            <h:form>  <!-- On which days of the month MM in year YYYY the total sum of the value of all orderstaken was larger than 10,000 E? -->
                <h:outputLabel value="Dates in month of year where sum of order values greater than 10,000" class="usertitle"/>
                <h:dataTable rows="#{queryBean.rows}" first="#{queryBean.first}" value="#{queryBean.modelOrder}" 
                             var="item" class="genericDTable">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{queryBean.rowNumberO + 1}" />
                    </h:column>
                    <h:column><f:facet name="header">Day</f:facet>
                        <h:outputLabel value="#{item.date}"/>
                    </h:column>
                    <f:facet name="footer">
                        <h:panelGrid columns="4">
                            <h:commandButton value="first" action="#{queryBean.pageFirst()}"
                                             disabled="#{queryBean.first == 0}" />
                            <h:commandButton value="prev" action="#{queryBean.pagePrevious()}"
                                             disabled="#{queryBean.first == 0}" />
                            <h:commandButton value="next" action="#{queryBean.pageNext()}"
                                             disabled="#{queryBean.first + queryBean.rows >= queryBean.modelOrderRowCount}" />
                            <h:commandButton value="last" action="#{queryBean.pageLastO()}"
                                             disabled="#{queryBean.first + queryBean.rows >= queryBean.modelOrderRowCount}" />
                        </h:panelGrid>
                    </f:facet>
                </h:dataTable>
                <table class="genericDTable">
                    <tr>
                        <th><h:outputLabel value="Year"/></th>
                        <th><h:outputLabel value="Month"/></th>
                        <th><h:outputLabel value="Amount"/></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><h:inputText value="#{queryBean.searchY}" onfocus="inputFocus(this)" onblur="inputBlur(this)" maxlength="4"/></td>
                        <td><h:inputText value="#{queryBean.searchM}" onfocus="inputFocus(this)" onblur="inputBlur(this)" maxlength="2"/></td>
                        <td><h:inputText value="#{queryBean.searchAm}" onfocus="inputFocus(this)" onblur="inputBlur(this)" maxlength="13"/></td>
                        <td><h:commandButton value="Get" action="#{queryBean.queryingB()}"/></td>
                    </tr>
                </table>
                
            </h:form>
            
            <h:form>
                <table class="genericDTable">
                <h:outputLabel value="Degrees of Separation" class="usertitle"/>
                    <tr>
                        <th><h:outputLabel value="Supplier 1"/></th>
                        <th><h:outputLabel value="Supplier 2"/></th>
                        <th></th>
                        <th><h:outputLabel value="Separation"/></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <h:selectOneMenu value="#{queryBean.degreesSupplier1}">
                                <f:selectItems value="#{productsBean.supplierNames}" var ="supp" itemValue="#{supp}" itemLabel="#{supp}" />
                            </h:selectOneMenu>
                        </td>
                        <td>
                            <h:selectOneMenu value="#{queryBean.degreesSupplier2}">
                                <f:selectItems value="#{productsBean.supplierNames}" var ="supp" itemValue="#{supp}" itemLabel="#{supp}" />
                            </h:selectOneMenu>
                        </td>
                        <td><h:commandButton value="Compute" action="#{queryBean.sixDegrees()}"/></td>
                        <td><h:outputLabel value="#{queryBean.degreesResult}"/></td>
                    </tr>
                </table>
            </h:form>
        <h:link value ="Back to profile" outcome="profile.xhtml?faces-redirect=true" />
        </h:panelGrid>
    </h:body>
</html>
