<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  lang="en"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Registration Page</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <h:body>
    <!-- <ui:include src="index.xhtml"/> -->
    <div class="container">
        <h:form>
            <h:panelGroup>
            <h:panelGrid columns="2" class="pgrid"> 
            <f:facet name="header" >
                <h3>Fill out the registration form to start using our services!</h3>
            </f:facet>
            
            <h:outputLabel value="Username"/>
            <h:inputText id="username" title="username" 
                         value="#{registerBean.login}" maxlength="45"/>
            
            
            <h:outputLabel value="Password"/>
            <h:inputSecret id="password" title="password"
                value="#{registerBean.password}" maxlength="45"/>
            
            
            <h:outputLabel value="Confirm Password"/>
            <h:inputSecret id="confirmPassword" title="Confirm Password"
                value="#{registerBean.passwordx2}" maxlength="45"/>
            
            <h:outputLabel value="Name"/>
            <h:inputText id="name" title="name" value="#{registerBean.cust_name}" maxlength="45"/>
            
            <h:outputLabel value="E-mail"/>
            <h:inputText id="email" title="email" value="#{registerBean.email}" maxlength="45"/>
            
            <h:outputLabel value="Street"/>
            <h:inputText id="street" title="street" value="#{registerBean.street}" maxlength="45"/>
            
            
            <h:outputLabel value="Town"/>
            <h:inputText id="town" title="town" value="#{registerBean.town}" maxlength="45"/>
            
            <h:outputLabel value="Post Code"/>
            <h:inputText id="post_code" title="post_code" value="#{registerBean.post_code}" maxlength="5"/>
            
            
            <h:commandButton id="signup" class="signup-button" value="Register" action="#{registerBean.register()}"/>
         </h:panelGrid>
                <h:panelGrid class="pgrid">
                <h:outputLabel class="errorLabel"
                value="#{registerBean.errorLabel}"/>
                </h:panelGrid>
            </h:panelGroup>
            <h:link value ="Back to Login" outcome="index.xhtml?faces-redirect=true" />
        </h:form>
    </div>
    </h:body>
</html>

