<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Statistics</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <h:body>
        <h:panelGrid class="container" columns="2" rendered="#{userBean.admin}">
            <h:form rendered="#{userBean.admin}">
                <h:outputLabel value="Most popular Products this week" class="usertitle"/>
                <h:dataTable rows="#{statsBean.rows}" first="#{statsBean.firstProduct}" value="#{statsBean.modelProduct}" 
                             var="item" class="genericDTable">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{statsBean.rowNumberP + 1}" />
                    </h:column>
                    <h:column><f:facet name="header">Product Code</f:facet>
                        <h:outputLabel value="#{item.prod_code}"/>
                    </h:column>
                    <h:column><f:facet name="header">Quantity</f:facet>
                        <h:outputLabel value="#{item.quantity}"/>
                    </h:column>
                    <f:facet name="footer">
                        <h:panelGrid columns="4">
                            <h:commandButton value="first" action="#{statsBean.pageFirstProduct()}"
                                             disabled="#{statsBean.firstProduct == 0}" />
                            <h:commandButton value="prev" action="#{statsBean.pagePreviousProduct()}"
                                             disabled="#{statsBean.firstProduct == 0}" />
                            <h:commandButton value="next" action="#{statsBean.pageNextProduct()}"
                                             disabled="#{statsBean.firstProduct + statsBean.rows >= statsBean.modelProductRowCount}" />
                            <h:commandButton value="last" action="#{statsBean.pageLastProduct()}"
                                             disabled="#{statsBean.firstProduct + statsBean.rows >= statsBean.modelProductRowCount}" />
                        </h:panelGrid>
                    </f:facet>
                </h:dataTable>
                <table class="genericDTable">
                    <tr>
                        <th><h:outputLabel value="Number of Results"/></th>
                    </tr>
                    <tr>
                        <td><h:inputText value="#{statsBean.searchMU}" onfocus="inputFocus(this)" onblur="inputBlur(this)"/></td>
                        <td><h:commandButton value="Refresh" action="#{statsBean.stats1()}"/></td>
                    </tr>
                </table>
                <h:outputLabel value="#{statsBean.errorMessageProduct}" class="errorMessage" />
            </h:form>
            <h:form rendered="#{userBean.admin}">
                <h:outputLabel value="Most popular Postal Codes goods were sent to" class="usertitle"/>
                <h:dataTable rows="#{statsBean.rows}" first="#{statsBean.firstUser}" value="#{statsBean.modelUser}" 
                             var="item" class="genericDTable">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{statsBean.rowNumberU + 1}" />
                    </h:column>
                    <h:column><f:facet name="header">Post Code</f:facet>
                        <h:outputLabel value="#{item.post_code}"/>
                    </h:column>
                    <h:column><f:facet name="header">Quantity</f:facet>
                        <h:outputLabel value="#{item.quantity}"/>
                    </h:column>
                    <f:facet name="footer">
                        <h:panelGrid columns="4">
                            <h:commandButton value="first" action="#{statsBean.pageFirstUser()}"
                                             disabled="#{statsBean.firstUser == 0}" />
                            <h:commandButton value="prev" action="#{statsBean.pagePreviousUser()}"
                                             disabled="#{statsBean.firstUser == 0}" />
                            <h:commandButton value="next" action="#{statsBean.pageNextUser()}"
                                             disabled="#{statsBean.firstUser + statsBean.rows >= statsBean.modelUserRowCount}" />
                            <h:commandButton value="last" action="#{statsBean.pageLastUser()}"
                                             disabled="#{statsBean.firstUser + statsBean.rows >= statsBean.modelUserRowCount}" />
                        </h:panelGrid>
                    </f:facet>
                </h:dataTable>
                <table class="genericDTable">
                    <tr>
                        <th><h:outputLabel value="Number of Results"/></th>
                    </tr>
                    <tr>
                        <td><h:inputText value="#{statsBean.searchMU}" onfocus="inputFocus(this)" onblur="inputBlur(this)"/></td>
                        <td><h:commandButton value="Refresh" action="#{statsBean.stats2()}"/></td>
                    </tr>
                </table>
                <h:outputLabel value="#{statsBean.errorMessageUser}" class="errorMessage" />
            </h:form>
            <h:form rendered="#{userBean.admin}">
                <h:outputLabel value="Most popular Suppliers" class="usertitle"/>
                <h:dataTable rows="#{statsBean.rows}" first="#{statsBean.firstSupplier}" value="#{statsBean.modelSupplier}" 
                             var="item" class="genericDTable">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{statsBean.rowNumberS + 1}" />
                    </h:column>
                    <h:column><f:facet name="header">Supplier Id</f:facet>
                        <h:outputLabel value="#{item.supplier_id}"/>
                    </h:column>
                    <h:column><f:facet name="header">Supplier Name</f:facet>
                        <h:outputLabel value="#{item.supplier_name}"/>
                    </h:column>

                    <h:column><f:facet name="header">Quantity</f:facet>
                        <h:outputLabel value="#{item.quantity}"/>
                    </h:column>
                    <f:facet name="footer">
                        <h:panelGrid columns="4">
                            <h:commandButton value="first" action="#{statsBean.pageFirstSupplier()}"
                                             disabled="#{statsBean.firstSupplier == 0}" />
                            <h:commandButton value="prev" action="#{statsBean.pagePreviousSupplier()}"
                                             disabled="#{statsBean.firstSupplier == 0}" />
                            <h:commandButton value="next" action="#{statsBean.pageNextSupplier()}"
                                             disabled="#{statsBean.firstSupplier + statsBean.rows >= statsBean.modelSupplierRowCount}" />
                            <h:commandButton value="last" action="#{statsBean.pageLastSupplier()}"
                                             disabled="#{statsBean.firstSupplier + statsBean.rows >= statsBean.modelSupplierRowCount}" />
                        </h:panelGrid>
                    </f:facet>
                </h:dataTable>
                <table class="genericDTable">
                    <tr>
                        <th><h:outputLabel value="Number of Results"/></th>
                    </tr>
                    <tr>
                        <td><h:inputText value="#{statsBean.searchMS}" onfocus="inputFocus(this)" onblur="inputBlur(this)"/></td>
                        <td><h:commandButton value="Refresh" action="#{statsBean.stats3()}"/></td>
                    </tr>
                </table>
                <h:outputLabel value="#{statsBean.errorMessageSupplier}" class="errorMessage" />
            </h:form>
            <h:form>
                <table class="genericDTable">
                <h:outputLabel value="Degrees of Separation" class="usertitle"/>
                    <tr>
                        <th><h:outputLabel value="Supplier 1"/></th>
                        <th><h:outputLabel value="Supplier 2"/></th>
                        <th></th>
                        <th><h:outputLabel value="Separation"/></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <h:selectOneMenu value="#{queryBean.degreesSupplier1}">
                                <f:selectItems value="#{productsBean.supplierNames}" var ="supp" itemValue="#{supp}" itemLabel="#{supp}" />
                            </h:selectOneMenu>
                        </td>
                        <td>
                            <h:selectOneMenu value="#{queryBean.degreesSupplier2}">
                                <f:selectItems value="#{productsBean.supplierNames}" var ="supp" itemValue="#{supp}" itemLabel="#{supp}" />
                            </h:selectOneMenu>
                        </td>
                        <td><h:commandButton value="Compute" action="#{queryBean.sixDegrees()}"/></td>
                        <td><h:outputLabel value="#{queryBean.degreesResult}"/></td>
                    </tr>
                </table>
            </h:form>
            <h:link value ="Back to profile" outcome="profile.xhtml?faces-redirect=true" />
        </h:panelGrid>
        <h:messages/>
    </h:body>
</html>
