<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>User Profile</title>
    </h:head>
    <link rel="stylesheet" type="text/css" href="resources/theme.css"/>
    <h:body>
        <h:form class="genericDTable" style="margin-top: 10%;">
            <h:outputLabel value="#{userBean.login}" class="usertitle"/>
            <h:panelGrid columns="2" class="pgrid">
                <h:outputLabel value ="Name" /><h:outputText value ="#{userBean.cust_name}" />
                <h:outputLabel value ="E-mail" /><h:outputText value ="#{userBean.email}" />
                <h:outputLabel value ="Street" /><h:outputText value ="#{userBean.street}" />
                <h:outputLabel value ="Town" /><h:outputText value ="#{userBean.town}" />
                <h:outputLabel value ="Postcode" /><h:outputText value ="#{userBean.post_code}" />
                <h:outputLabel value ="Current Balance" /><h:outputText value ="#{userBean.curr_bal}" />
                <h:outputLabel value ="Allowed Credit" /><h:outputText value ="#{userBean.cr_limit}" />
            </h:panelGrid>
            <h:panelGrid class="pgrid" columns ="1">
                <h:link value ="Browse or Search for products" outcome="product_list.xhtml?faces-redirect=true" />
                <h:link value ="Special Search Queries" outcome="user_special.xhtml?faces-redirect=true" />
            </h:panelGrid>
            <h:dataTable rows="#{userOrders.rows}" first="#{userOrders.first}" value="#{userOrders.modelOrder}" 
                             var="item" class="genericDTable">

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Row #" />
                        </f:facet>
                        <h:outputText value="#{userOrders.rowNumber + 1}" />
                    </h:column>

                    <h:column><f:facet name="header">Order #</f:facet>
                        <h:outputLabel value="#{item.order_no}"/>
                    </h:column>
                
                    <h:column><f:facet name="header">
                            <h:outputText value="Product Name" />
                        </f:facet> 
                        <h:outputLabel value="#{item.prod_name}"/>
                    </h:column>
                
                    <h:column><f:facet name="header">
                            <h:outputText value="Amount Purchased" />
                        </f:facet> 
                        <h:outputLabel value="#{item.order_qty}"/>
                    </h:column>

                    <h:column><f:facet name="header">
                            <h:outputText value="Date of Purchase" />
                        </f:facet> 
                        <h:outputLabel value="#{item.date}"/>
                    </h:column>
                
                    <f:facet name="footer">
                        <h:panelGrid columns="4">
                            <h:commandButton value="first" action="#{userOrders.pageFirst()}"
                                             disabled="#{userOrders.first == 0}" />
                            <h:commandButton value="prev" action="#{userOrders.pagePrevious()}"
                                             disabled="#{userOrders.first == 0}" />
                            <h:commandButton value="next" action="#{userOrders.pageNext()}"
                                             disabled="#{userOrders.first + userOrders.rows >= userOrders.modelOrderRowCount}" />
                            <h:commandButton value="last" action="#{userOrders.pageLast()}"
                                             disabled="#{userOrders.first + userOrders.rows >= userOrders.modelOrderRowCount}" />
                        </h:panelGrid>
                    </f:facet>
                </h:dataTable>
            
        </h:form>
    </h:body>
</html>

